/node_modules
/public/hot
/public/storage
/storage/*.key
npm-debug.log
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
docker-compose.override.yml
PHP-XDEBUG-IP