#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0px 0 0 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid $oilgreen;
  line-height: 1;
}
#cssmenu ul {
  background: $white;
}
#cssmenu > ul > li {
  float: left;
  width: 25%;
  text-align: center;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 28px 25px 20px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: $white;
}
#cssmenu > ul > li > a:after {
  border-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(148px) rotateX(-47deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(148px) rotateX(-47deg);
  -moz-transform-origin: bottom;
  transform: perspective(148px) rotateX(-47deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: $oilgreen;
  border-top: 1px solid $white;
  border-right: 1px solid $white;
  border-left: 1px solid $white;
}
#cssmenu > ul > li.active {
  z-index: 10;
}

.header {
   &-title {
    height: 120px;
    background-color: $oilgreen;
     &-text {
       height: 110px;
       width: 20%;
       font-family: Verdana;
       padding: 51px 0 0px 17%;
       font-size: 25px;
       a {
         text-decoration: none;
         font-weight: bold;
         letter-spacing: 5px;
         text-shadow: 1px 1px #000;
         color:white
       }
       a:hover {
         text-decoration: none;
         color: red;
       }
       a:active, a:visited {
         color: $white;
       }
     }
  }
}
.md-theme-default a:not(.md-button):hover {
  color: $white;
  cursor: default;
  text-decoration: none;
}
